flows.json
[{"id":"dc753624.2aebd8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4cdc6126.87e45","type":"inject","z":"dc753624.2aebd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":220,"wires":[["545bb861.0ce238"]]},{"id":"e169dfa8.2e2c5","type":"function","z":"dc753624.2aebd8","name":"","func":"msg.payload={Tiempo: new Date(), Temperatura: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["8c9ecb72.362de8"]]},{"id":"545bb861.0ce238","type":"random","z":"dc753624.2aebd8","name":"","low":"1","high":"40","inte":"true","property":"payload","x":360,"y":220,"wires":[["e169dfa8.2e2c5"]]},{"id":"8c9ecb72.362de8","type":"csv","z":"dc753624.2aebd8","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"Tiempo, Temperatura","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":280,"wires":[["bbe12acb.e840b8"]]},{"id":"bbe12acb.e840b8","type":"file","z":"dc753624.2aebd8","name":"","filename":"/home/p4b10r/Escritorio/pythonscript/temperaturas.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":820,"y":420,"wires":[[]]},{"id":"440cf6e3.440768","type":"inject","z":"dc753624.2aebd8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":520,"wires":[["a2000026.9b8a7"]]},{"id":"a0074207.9a278","type":"file in","z":"dc753624.2aebd8","name":"","filename":"/home/p4b10r/Escritorio/pythonscript/temperatura.png","format":"","chunk":false,"sendError":false,"x":320,"y":660,"wires":[["8d44e4c4.406cc8"]]},{"id":"c9f510d3.98916","type":"debug","z":"dc753624.2aebd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":560,"wires":[]},{"id":"ad8cb5d2.374a18","type":"e-mail out","z":"dc753624.2aebd8","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":1000,"y":500,"wires":[[]]},{"id":"dc4b9ddb.b1829","type":"e-mail out","z":"dc753624.2aebd8","server":"smtp.gmail.com","port":"465","secure":true,"name":"pablo.ruzdonoso@gmail.com","dname":"","x":920,"y":700,"wires":[["c9f510d3.98916"]]},{"id":"8d44e4c4.406cc8","type":"function","z":"dc753624.2aebd8","name":"","func":"msg.payload = \"Body Message Text\";\n\nmsg.topic = \"Topic Text\";\n\nmsg.attachments = [{filename: \"temperatura.png\", content: msg.File}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":600,"wires":[["dc4b9ddb.b1829"]]},{"id":"a2000026.9b8a7","type":"exec","z":"dc753624.2aebd8","command":"load temperature.png","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":180,"y":740,"wires":[[],["a0074207.9a278"],[]]}]